{% extends "_layout.twig" %}

{% block content %}

<div class="border-top padding-y-2">

	<div class="container wide">

		<ul class="nav-breadcrumb font-size-sm">
			<li>
				<a href="#1">
					<span class="icon icon-home" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<em>
					{{ entry.section }}
				</em>
			</li>
			<li class="text-color-primary">
				{{ entry.title }}
			</li>
		</ul>

	</div>
	
</div>

<main id="skip-header-target">

	<article>

		<header class=" theme-primary" id="introduction">

			<div class="container narrow medium--lg text-align-center padding-y-5">

				<h1 class="banner-headline">
					{{ entry.title }}
				</h1>

			</div>

		</header>

		<div class="container narrow wide--lg">

			<div class="grid-sidebars grid--divider gap-4 margin-y-5">

				<div class="grid-sidebar__minor-start">

					<nav class="font-size-md">
						{% set currentSection = entry.section.handle %}
						
						{# Fetch child pages for the current section dynamically #}
						{% set childPages = craft.entries().section(currentSection).all() %}

						{% if childPages|length %}
							<ul class="nav theme-light border-top border-color-primary padding-3 position-sticky-top">

							{% for page in childPages %}
								<li>
									<a href="{{ page.url }}" 
										{% if page.id == entry.id %}aria-current="page"{% endif %}>
            							{{ page.title }}
          							</a>
								</li>
							{% endfor %}
							
							</ul>
						{% endif %}
					</nav>

				</div>

				<div class="grid-sidebar__major">

					<div class="grid-sidebar__major__container">

						{% if entry.heroImage | length %}
						{% set image = entry.heroImage.one() %}

							<figure>

								<img
									src="{{ image.url }}"
									alt="{{ image.alt ?? '' }}"
								/>

								{% if entry.heroCaption %}
								<figcaption class="container narrow">
									<p>
										{{ entry.heroCaption }}
									</p>
								</figcaption>
								{% endif %}
							</figure>

						{% endif %}

						<div>
						
							{# Loop through the Matrix blocks #}
							{% for block in entry.articleContent.all() %}
							
							{# Handle the Rich Text block #}
							{% if block.type.handle == 'richText' %}

							<div class="container narrow margin-y-4">
								
								{{ block.richText }}
							
							</div>
							
							{# Handle the Figure Image block #}
							{% elseif block.type.handle == 'figureImage' %}
							
								<figure class="margin-y-5">
								{% set image = block.figureImage.one() %}
								{% if image %}
									<img src="{{ image.url }}" alt="{{ image.alt }}" />
								{% endif %}
								{% if block.figureCaption %}
									<figcaption class="container narrow">
										<p>
											{{ block.figureCaption }}
										</p>
									</figcaption>
								{% endif %}
								</figure>

							{# Handle the Call to Action block #}
							{% elseif block.type.handle == 'callToAction' %}

								<div class="container narrow margin-y-2">
									
									{# Link for the Call to Action #}
									{% if block.linkField is defined and block.linkField %}
										<a class="button text-color-link" href="{{ block.linkField}}">
											{{ block.title }}
											{% if block.linkField.type == 'url' %}
												<span class="icon icon-open-new"></span>
											{% else %}
												<span class="icon icon-arrow-right"></span>
											{% endif %}
										</a>
									{% endif %}

									{# {{ dump(block.linkField.type) }} #}

								</div>
							
							{% endif %}
							
							{% endfor %}

						</div>

						{# Audio Sermons #}

						{% if entry.title == 'Audio Sermons' %}

						<section>

							<h3 class="screen-reader-only">
								Listen to audio sermons 
							</h3>

							{# Query the audio sermons section #}
							{% set audioSermons = craft.entries.section('audioSermons').orderBy('postDate desc').all() %}

							{# Check if there are any audio sermons #}
							{% if audioSermons | length %}

							<div class="grid audio-sermons-list">
								{% for audioSermon in audioSermons %}

									<section class="border-top padding-y-4">

									<div class="container narrow">
									
										<p class="font-size-md margin-bottom-1">
											{{ audioSermon.date|date("F j, Y") }}
										</p>
										
										<h2 class="h5 margin-bottom-1">
											<strong>
												{{ audioSermon.title }}
											</strong>
										</h2>

										<p class="font-size-md">
											<em>
												{{ audioSermon.speaker }}
											</em>
										</p>

										{% if audioSermon.audioFile | length %}
										
										<div class="audio-player subtle-fill-1 text-color-link border-radius-2">

											<audio id="audio" preload="auto">
												<source src="{{ audioSermon.audioFile.one().url }}" type="audio/mpeg">
												Your browser does not support the audio element.
											</audio>

											<div
												class="audio-player__controls"
												id="controls"
											>

												<button
													class="button button--icon-only audio-player__controls__button"
													id="play-pause-button"
												>
													<span class="icon icon-play" aria-hidden="true"></span>
												</button>

												<div 
													class="audio-player__progress" 
													id="progress-bar" 
													tabindex="0"  
													aria-valuemin="0" 
													aria-valuemax="100" 
													aria-valuenow="0" 
													aria-label="Use arrow keys to forward or rewind the audio"
													role="slider"
												>
													<div class="audio-player__progress__fill">
														<span class="audio-player__thumb"></span>
													</div>
												</div>

												<div class="audio-player__timestamp">
													00:00
												</div>

												<div class="audio-player__volume-container">
													<button id="mute-button">
													
													<span class="icon icon-volume"></span>
													</button>

													<div 
														class="audio-player__volume"
														tabindex="0" 
														aria-valuemin="0" 
														aria-valuemax="100" 
														aria-valuenow="100" 
														aria-label="Use arrow keys to adjust volume"
														role="slider" 
													>
														<div class="audio-player__volume__fill">
															<span class="audio-player__thumb"></span>
														</div>
													</div>
												
												</div>

											</div>

										</div>
											
										<div class="display-flex text-color-link gap-1 justify-content-end font-size-sm margin-top-2">

											<a class="button 👉 button--has-icon " href="{{ audioSermon.audioFile.one().url }}" download>
												<span class="icon icon-file-download"></span>
												<span class="button__text">Download Audio</span>
											</a>

											<a class="button 👉 button--has-icon" href="{{ audioSermon.audioFile.one().url }}" target="_blank">
												<span class="icon icon-open-new"></span>
												<span class="button__text"> Play in new window</span>
											</a>
											
										</div>
										{% else %}
											<p>No audio file available for this sermon.</p>
										{% endif %}
									</div>
									</section>
								{% endfor %}
							</div>

							{% else %}
								<p>No audio sermons available at this time.</p>
							{% endif %}

						</section>
						
						{% endif %}
						
						<footer class="border-top padding-top-3 font-size-sm margin-top-4">
							<div class="grid grid--column-3 gap-2 align-items-center">
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-facebook"></span>
									<span class="button__text">Share</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-twitter"></span>
									<span class="button__text">Tweet</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-mail"></span>
									<span class="button__text">Send</span>
								</a>
							</div>
						</footer>

					</div>
				</div>

				<div class="grid-sidebar__minor-end">

					<div>
						
						<a class="backdrop theme-dark" href="#1">

							<div class="backdrop__media">
								<img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder" />
							</div>

							<div class="backdrop__cover align-content-end justify-content-start">

								<div class="container text-align-center">
									<h3 class="h6">
										Clergy &amp; Staff
									</h3>
								</div>

							</div>

						</a>

					</div>


				</div>

			</div>

		</div>

	</article>

</main>

{% endblock %}