{% import "_macros.twig" as macros %}

<div class="margin-x-auto wide--xl">

    <header class="global-header">

        <div class="global-header__brand">
            <a href="/" title="Home" data-logo="brand">
                <picture>
                    <source
                        srcset="/dist/images/little-church-logo.svg"
                        media="(min-width: 1000px)"
                    >
                    <img
                        src="/dist/images/little-church-logo-sm.svg"
                        alt="The Little Church Around the Corner Logo"
                    />
                </picture>
            </a>
        </div>

        <div class="global-header__address">
            <em>1 E 29th St, NY 10016</em>
            <span class="divider">•</span>
            <em>212-684-6770</em>
        </div>

        <div class="global-header__toggle">

                <button
                    class="button 👉 button--icon-over-text font-size-md"
                    aria-label="Menu"
                    data-toggle="collapse"
                    aria-controls="main-menu"
                >
                    <span class="button__icon">
                        <span class="icon icon-menu" aria-hidden="true"></span>
                    </span>
                    <span class="button__text">MENU</span>
                </button>
        
        </div>

        <nav class="global-header__nav collapse" id="main-menu">
            <ul class="global-header__nav__secondary">
                <li>
                    <a href="/virtual-tour" {{ macros.is_active('virtual-tour') }}>
                        Virtual Tour
                    </a>
                </li>
                <li>
                    <a href="/visit" {{ macros.is_active('visit') }}>
                        Visit
                    </a>
                </li>
                <li>
                    <a href="/contact" {{ macros.is_active('contact') }}>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/blog" {{ macros.is_active('blog') }}>
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#" {{ macros.is_active('pledge') }}>
                        Pledge
                    </a>
                </li>
            </ul>

            <ul class="global-header__nav__primary">
                <li>
                    <button
                        data-toggle="dropdown"
                        aria-controls="dropdown-about"
                        aria-expanded="false"
                        {{ macros.is_active('about') }}
                    >
                        About
                    </button>

                    {% set aboutPages = craft.entries().section('about').all() %}
                    <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-about">
                        {% for page in aboutPages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <button
                        data-toggle="dropdown"
                        aria-controls="dropdown-worship"
                        aria-expanded="false"
                        {{ macros.is_active('worship') }}
                    >
                        Worship
                    </button>

                    {% set worshipPages = craft.entries().section('worship').all() %}
                    <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-worship">
                        {% for page in worshipPages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <button
                        data-toggle="dropdown"
                        aria-controls="dropdown-music"
                        aria-expanded="false"
                        {{ macros.is_active('music') }}
                    >
                        Music
                    </button>

                    {% set musicPages = craft.entries().section('music').all() %}
                    <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-music">
                        {% for page in musicPages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <button
                        data-toggle="dropdown"
                        aria-controls="dropdown-education"
                        aria-expanded="false"
                        {{ macros.is_active('education') }}
                    >
                        Education
                    </button>

                    {% set educationPages = craft.entries().section('education').all() %}
                    <ul class="nav__dropdown box-shadow-1--lg" id="dropdown-education">
                        {% for page in educationPages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li>
                    <a href="/events" {{ macros.is_active('events') }}>
                        Events
                    </a>
                </li>
            </ul>
        </nav>
    </header>

</div>