<footer class="theme-light font-size-sm" id="global-footer">

    <h2 class="screen-reader-only">
        Page Footer
    </h2>

    <div class="container narrow wide--lg padding-y-4">

        <div class="grid grid--column-3 grid--column-6--lg gap-4">

            <nav>
                <h3 class="h6">
                    <strong>About</strong>
                </h3>

                {% set aboutPages = craft.entries().section('about').all() %}
                <ul class="nav">
                    {% for page in aboutPages %}
                        <li>
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav>
                <h3 class="h6">
                    <strong>Worship</strong>
                </h3>

                {% set worshipPages = craft.entries().section('worship').all() %}
                <ul class="nav">
                    {% for page in worshipPages %}
                        <li>
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav>
                <h3 class="h6">
                    <strong>Music</strong>
                </h3>

                {% set musicPages = craft.entries().section('music').all() %}
                <ul class="nav">
                    {% for page in musicPages %}
                        <li>
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav>
                <h3 class="h6">
                    <strong>Education</strong>
                </h3>

                {% set educationPages = craft.entries().section('education').all() %}
                <ul class="nav">
                    {% for page in educationPages %}
                        <li>
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav>
                <h3 class="h6">
                    <strong>Events</strong>
                </h3>

                {% set educationPages = craft.entries().section('education').all() %}
                <ul class="nav">
                    {% for page in educationPages %}
                        <li>
                            <a href="{{ page.url }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <nav>

                <ul class="nav font-weight-bold">
                    <li>
                        <a href="/virtual-tour">
                            Virtual Tour
                        </a>
                    </li>
                    <li>
                        <a href="/visit">
                            Visit
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="/blog">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Pledge
                        </a>
                    </li>
                </ul>

            </nav>

        </div>

    </div>
    
    <hr />

    <div class="container wide padding-y-3 font-size-sm">

        <div class="grid gap-3 grid--column-3--md">

            <div class="display-flex align-items-center">
                <img
                    class="margin-right-2"
                    src="/images/episcopal-badge.svg"
                    alt="Episcopal Church"
                />
                <p>
                    <em>
                        We are an Episcopal Church and part of the larger, worldwide Anglican Communion, with a rich musical and liturgical tradition.
                    </em>
                </p>
            </div>

            <div>
                <p>The Little Church is home to the Episcopal Actors' Guild of America.
                <span class="copyright">© 2017 The Church of the Transfiguration.</span></p>
            </div>

        </div>

    </div>

    <div class="container narrow wide--lg padding-y-2 font-size-sm">

        <div class="display-flex justify-content-between">
            <span>
                &#169; Copyright 2024. All rights reserved.
            </span>
            <a href="#" data-scroll="top">
                Back to Top
            </a>
        </div>

    </div>

</footer>