{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

	{% set entry = craft.entries.section('visit').one() %}

    <article>

        <header class="theme-primary">
            <div class="container narrow medium--lg text-align-center padding-y-5">
                <h1>
					{{ entry.title }}
				</h1>
            </div>
        </header>

        <div class="margin-x-auto narrow--md wide--lg margin-y-5">

            <div
				class="grid-sidebar--right gap-4 grid--divider margin-y-4"
				style="--grid-sidebar-width: calc(var(--article-sidebar-width) * 1.5);"
			>

                <div class="grid-sidebar__minor">

					<div class="margin-x-auto narrow">
					
						<div class="location-detail">
						
							<div class="location-detail__map" id="map"></div>

							<div class="location-detail__address">
								<p>
									<strong>
										Church of the Transfiguration
									</strong>
								</p>
								<address class="margin-bottom-2">
									1 E 29th St, NY 10016									
								</address>

								<a class="button font-size-sm button--outline text-color-link" href="#1">
									<span class="icon icon-map-pin" aria-hidden="true"></span>
									<span class="link__text">Directions</span>
								</a>
							</div>

							<div class="location-detail__directions">
								<h4>Getting Here</h4>
								<p><strong>By subway:</strong> Take the 1, R/W, or 6 to 28th Street, or take the B/D/F/M/N/Q to Herald Square.</p>
								<p><strong>By bus:</strong> M1, M2, M3, M5, M6, M7.</p>                        
							</div>

							<div class="location-detail__accessibility">
								<span class="icon icon-wheelchair"></span>
								<p>The Church and Garden is <br>wheelchair accessible</p>
							</div>

						</div>

					</div>

                </div>

				<div class="grid-sidebar__major">

					<div class="grid-sidebar__major__container">

						{% if entry.heroImage | length %}
						{% set image = entry.heroImage.one() %}

							<figure>

								<img
									src="{{ image.url }}"
									alt="{{ image.alt ?? '' }}"
								/>

								{% if entry.heroCaption %}
								<figcaption class="container narrow">
									<p>
										{{ entry.heroCaption }}
									</p>
								</figcaption>
								{% endif %}
							</figure>

						{% endif %}

						{# Loop through the Matrix blocks #}
							{% for block in entry.articleContent.all() %}

							{{ block.render }}
							
							{% endfor %}
						
						<footer class="border-top padding-top-3 font-size-sm margin-top-4">
							<div class="grid grid--column-3 gap-2 align-items-center">
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-facebook"></span>
									<span class="button__text">Share</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-twitter"></span>
									<span class="button__text">Tweet</span>
								</a>
							
								<a class="button 👉 button--has-icon" href="#1">
									<span class="icon icon-mail"></span>
									<span class="button__text">Send</span>
								</a>
							</div>
						</footer>

					</div>

				</div>

			</div>

    </article>

</main>

{% endblock %}