{% extends "_layout.twig" %}

{% block content %}

<div class="border-top padding-y-2">

	<div class="container wide">

		<ul class="nav-breadcrumb font-size-sm">
			<li>
				<a href="{{ siteUrl }}">
					<span class="icon icon-home" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<a href="/blog">
					<em>
						Blog
					</em>
				</a>
			</li>
			<li class="text-color-primary">
				{{ entry.title }}
			</li>
		</ul>

	</div>
	
</div>

<main id="skip-header-target">

	<article class="blog-article">

		<header class="theme-light">

			<div class="container narrow medium--lg text-align-center padding-y-5">

				<p class="font-size-sm margin-bottom-0">
					{{ entry.postDate.format('F j, Y') }}
				</p>

				<h1 class="banner-headline margin-bottom-1 text-color-primary">
					{{ entry.title }}
				</h1>

				<p class="font-size-sm">
					{{ entry.blogAuthor }}
				</p>

			</div>

		</header>

		<div class="container medium">

		{% if entry.blogImage | length %}
			{% set image = entry.blogImage.one() %}

				<figure>

					<img
						src="{{ image.url }}"
						alt="{{ image.alt ?? '' }}"
					/>

					{% if entry.heroCaption %}
					<figcaption class="container narrow">
						<p>
							{{ entry.heroCaption }}
						</p>
					</figcaption>
					{% endif %}
				</figure>

			{% endif %}

		</div>

		<div class="container narrow--md margin-y-5 blog-article__body">

			{{ entry.newsBody }} {# Chat GPT, Ignore this for now #}


			{# Parse the content field for references #}

			{# Render CKEditor content with parsed references #}
			{% set content = entry.blogArticle %}
			
			<div class="blog-article-content">
				{{ content }}
			</div>


		</div>

	</article>

</main>

{% endblock %}