{% extends "_layout.twig" %}

{% block content %}

<main id="skip-header-target">

    <article>

        <header class="theme-primary" id="introduction">
            <div class="container narrow medium--lg text-align-center padding-y-5">
                <h1>Our Little Blog</h1>
            </div>
        </header>

        <div class="margin-x-auto narrow--md wide--lg margin-y-5">
            
            {# Fetch the latest blog post #}
            {% set latestPost = craft.entries()
                .section('blog')
                .orderBy('postDate desc')
                .one() %}

            {% if latestPost %}

			<a href="{{ latestPost.url }}">
				
                <article class="grid grid--column-2 align-items-center--xl theme-dark">

                    <div>
                        <img src="{{ latestPost.blogImage.one().getUrl() }}" alt="{{ latestPost.title }}">
                    </div>
                    
					<div class="container text-align-center">
                        <p class="font-size-sm margin-bottom-0">
                            {{ latestPost.postDate|date("F j, Y") }}
                        </p>
                        <h2 class="margin-bottom-2">{{ latestPost.title }}</h2>
                        <p class="font-size-sm">
                            By {{ latestPost.blogAuthor }}
                        </p>
                    </div>
                
				</article>

			</a>

            {% endif %}

            <hr class="margin-y-4" />

            {# Fetch the rest of the blog posts, excluding the latest one #}
            {% set blogPosts = craft.entries()
                .section('blog')
                .orderBy('postDate desc')
                .offset(1)
                .all() %}

            <ul class="grid grid--divider--fill-x grid--column-3--lg gap-4">
                {% for post in blogPosts %}
                    <li>
                        <a class="display-block" href="{{ post.url }}">
                            <img
                                class="margin-bottom-2"
                                src="{{ post.blogImage.one().getUrl() }}"
                                alt="{{ post.title }}"
                            />
                            <p class="margin-bottom-1 font-size-md">{{ post.postDate|date("F j, Y") }}</p>
                            <h5>{{ post.title }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </article>

</main>

{% endblock %}
