<!DOCTYPE html>

<html dir="ltr" lang="{{ craft.app.language }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ siteName }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Natura11y Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cavidano/natura11y-icons@main/dist/natura11y-icons.min.css">

        <!-- Natura11y Stylesheet -->
        <link rel="stylesheet" href="/dist/natura11y.css">

        <!-- Events -->

        <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> #}
        {# <link rel="stylesheet" href="{{ siteUrl }}assets/events/css/main.css"> #}

    </head>

    <body>

		<div class="skip-links">

			<a href="#main">
				Jump to main content
			</a>

			<a href="#global-footer">
				Jump to website footer
			</a>
		
		</div>

        {{ include('_includes/global-header.twig') }}

        {% block content %}
            
        {% endblock %}

        {{ include('_includes/global-footer.twig') }}

        <!-- Natura11y Javascript -->
        <script src="/dist/natura11y.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Event
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
        -->
        <script src="{{ siteUrl }}/assets/events/js/main.js"></script>

        {% block footerJs %}
        {% endblock %}

    </body>

</html>